<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoneBase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhoneBase.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>

        <a href="/">Список контактов</a>
        <a href = "phones/addphonerecord">Добавить контакт</a>
       
    </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        Все контакты вымышленные.
    </footer>
</body>
</html>