<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoneBase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhoneBase.styles.css" asp-append-version="true" />
</head>
<body>
    <header align = "center">

        <style type="text/css">
            table {
                background: lawngreen;
                padding: 5px;
                border: 2px;
                border-color: deepskyblue;
            }

            td {
                background: lawngreen;
                font-size: 14px;
                color: black;
                padding: 3px;
            }

            td {
                border: 3px;
                color: black;
            }

            a {
                background: aquamarine;
            }

            div{
                align-content: center;
            }

            header {
                align-content: center;
            }

            footer {
                align-content: center;
            }
        </style>

        <nav>

            <a href="/">Список контактов</a>
            <a href="/Phones/AddPhoneRecord">Добавить контакт</a>

        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer align ="center">
        Все контакты вымышленные.
    </footer>
</body>
</html>