@model PhoneRecord
@{
    ViewData["Title"] = "Добавить запись";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <form method="post" asp-controller="Phones" asp-action="CheckData">
            <table align="center">
                    
                <thead>
                    <tr>
                        <th>
                            <label asp-for="id">ID</label>
                        </th>
                        <td>
                            <input asp-for="id"/>
                            <span asp-validation-for="id"/>
                        </td>   
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="surname">Фамилия</label>
                        </th>
                        <td>
                            <input asp-for="surname"/>
                            <span asp-validation-for="surname"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="name">Имя</label>
                        </th>
                        <td>
                            <input asp-for="name"/>
                            <span asp-validation-for="name"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="name">Отчество</label>
                        </th>
                        <td>
                            <input asp-for="patronymic"/>
                            <span asp-validation-for="patronymic"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="name">Телефон</label>
                        </th>
                        <td>
                            <input asp-for="number"/>
                            <span asp-validation-for="number"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="name">Адрес</label>
                        </th>
                        <td>
                            <input asp-for="address"/>
                            <span asp-validation-for="address"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="name">Описание</label>
                        </th>
                        <td>
                            <input asp-for="description"/>
                            <span asp-validation-for="description"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <input type="submit" value="Добавить"/>
                        </td>
                    </tr>
                </thead>
            </table>
        </form>
    </body>
</html>